services:
  vllm-ci-test:
    #image: public.ecr.aws/q9t5s3a7/vllm-ci-test-repo:1da94e673c257373280026f75ceb4effac80e892-cpu
    image: public.ecr.aws/q9t5s3a7/vllm-ci-test-repo:b8b302cde434df8c9289a2b465406b47ebab1c2d-cpu
    #image: public.ecr.aws/q9t5s3a7/vllm-cpu-release-repo:v0.10.2
    container_name: vllm-ci-test-cpu
    volumes:
      #- "${MODEL_CACHE:-./data}:/root/.cache/huggingface/hub"
      - /mnt/hf_cache:/mnt/hf_cache
      #- "${VLLM_FOLDER_PATH:-./vllm}/.buildkite:/workspace/.buildkite"
      #- "${VLLM_FOLDER_PATH:-./vllm}/benchmarks:/workspace/benchmarks"
      - "./tests/serving-tests-cpu.json:/workspace/.buildkite/nightly-benchmarks/tests/serving-tests-cpu.json:ro"
      - "./results:/workspace/benchmarks/results"
    shm_size: 128g
    environment:
      no_proxy: ${no_proxy}
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      HF_TOKEN: ${HF_TOKEN}
      VLLM_CPU_KVCACHE_SPACE: 40
      HF_HOME: /mnt/hf_cache
      ON_CPU: 1
      #SERVING_JSON: serving-tests-cpu-snc3.json
    entrypoint: ["bash", "/workspace/.buildkite/nightly-benchmarks/scripts/run-performance-benchmarks.sh"]

